## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://raw.githubusercontent.com/farimahs/Charity-Funding-Predictor_Deep-Learning/main/Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Dropping non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(['EIN'], axis = 1, inplace = True)

In [3]:
# Determining the number of unique values in each column.
for col in application_df:
  print(f"{col}: {application_df[col].nunique()}")

NAME: 19568
APPLICATION_TYPE: 17
AFFILIATION: 6
CLASSIFICATION: 71
USE_CASE: 5
ORGANIZATION: 4
STATUS: 2
INCOME_AMT: 9
SPECIAL_CONSIDERATIONS: 2
ASK_AMT: 8747
IS_SUCCESSFUL: 2

In [4]:
# Looking at NAME value counts for binning
application_df['NAME'].value_counts()

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [5]:
# looking at NAME value counts >10
count_names = application_df['NAME'].value_counts()
valid_names = count_names[count_names>10]
valid_names

PARENT BOOSTER USA INC                                                    1260
TOPS CLUB INC                                                              765
UNITED STATES BOWLING CONGRESS INC                                         700
WASHINGTON STATE UNIVERSITY                                                492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                            408
                                                                          ...
USA SWIMMING INC                                                            11
SIGMA ALPHA OMEGA CHRISTIAN SORORITY INC                                    11
SOCIETY FOR PRESERVATION & ENCOURMT OF BARBERSHOP QUARTET SINGING AMER      11
SONS OF ITALY IN AMERICA                                                    11
FELLOWSHIP OF CHRISTIAN COWBOYS INC                                         11
Name: NAME, Length: 204, dtype: int64

In [6]:
# Choosing a cutoff value and create a list of names to be replaced
# using the variable name `names_to_replace`
names_to_replace = count_names[count_names<11].index.to_list()
names_to_replace

# Replace in dataframe
for name in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")
    
# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                     21202
PARENT BOOSTER USA INC                                                     1260
TOPS CLUB INC                                                               765
UNITED STATES BOWLING CONGRESS INC                                          700
WASHINGTON STATE UNIVERSITY                                                 492
                                                                          ...
AMERICAN POSTAL WORKERS UNION                                                11
SOCIETY FOR PRESERVATION & ENCOURMT OF BARBERSHOP QUARTET SINGING AMER       11
SIGMA ALPHA OMEGA CHRISTIAN SORORITY INC                                     11
FINANCIAL PLANNING ASSOCIATION                                               11
SLOW FOOD U S A INC                                                          11
Name: NAME, Length: 205, dtype: int64

In [7]:
# Looking at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [8]:
type_count = application_df['APPLICATION_TYPE'].value_counts().rename_axis('unique_values')
type_count_df = pd.DataFrame(type_count)
type_count_df = type_count_df.reset_index()
type_count_df

   unique_values  APPLICATION_TYPE
0             T3             27037
1             T4              1542
2             T6              1216
3             T5              1173
4            T19              1065
5             T8               737
6             T7               725
7            T10               528
8             T9               156
9            T13                66
10           T12                27
11            T2                16
12           T25                 3
13           T14                 3
14           T29                 2
15           T15                 2
16           T17                 1

In [9]:
# Choosing a cutoff value and create a list of application types to be replaced
# using the variable name `application_types_to_replace`
application_types_to_replace_df = type_count_df.loc[type_count_df['APPLICATION_TYPE'] <528]
application_types_to_replace = application_types_to_replace_df['unique_values'].to_list()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [10]:
# Looking at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [11]:
# looking at CLASSIFICATION value counts >1
counts = application_df['CLASSIFICATION'].value_counts()
valids = counts[counts>1]
valids

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [12]:
# Choosing a cutoff value and create a list of classifications to be replaced
# using the variable name `classifications_to_replace`
classifications_to_replace = counts[counts<1883].index.to_list()
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [13]:
# Converting categorical data to numeric with `pd.get_dummies`
X_dummies = pd.get_dummies(data =application_df) 
X_dummies

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,NAME_ALTRUSA INTERNATIONAL FOUNDATION INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [14]:
# Splitting our preprocessed data into our features and target arrays
y = X_dummies['IS_SUCCESSFUL']
X = X_dummies.drop(['IS_SUCCESSFUL'], axis = 1)
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [15]:
len(X.columns)

248

In [16]:
# Creatingf a StandardScaler instances
scaler = StandardScaler()

# Fitting the StandardScaler
X_scaler = scaler.fit(X_train)

# Scaling the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [20]:
# Defining the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=6, activation="relu", input_dim=248))
# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=6, activation="relu"))
# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

nn_model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 6)                 1494

 dense_4 (Dense)             (None, 6)                 42

 dense_5 (Dense)             (None, 1)                 7

=================================================================
Total params: 1,543
Trainable params: 1,543
Non-trainable params: 0
_________________________________________________________________

In [21]:
# Compiling the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [22]:
# Training the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 1ms/step - loss: 0.5684 - accuracy: 0.7169
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4889 - accuracy: 0.7668
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4752 - accuracy: 0.7769
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4697 - accuracy: 0.7780
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4669 - accuracy: 0.7783
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4647 - accuracy: 0.7797
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4619 - accuracy: 0.7802
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4604 - accuracy: 0.7803
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4589 - accuracy: 0.7801
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4580 - accuracy: 0.7799
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4566 - accuracy: 0.7806
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4559 - accuracy: 0.7810
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4546 - accuracy: 0.7814
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4546 - accuracy: 0.7819
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4535 - accuracy: 0.7821
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4526 - accuracy: 0.7823
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4518 - accuracy: 0.7822
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4514 - accuracy: 0.7820
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4502 - accuracy: 0.7833
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4495 - accuracy: 0.7829
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4495 - accuracy: 0.7824
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4494 - accuracy: 0.7828
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4490 - accuracy: 0.7841
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4488 - accuracy: 0.7824
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4490 - accuracy: 0.7832
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4482 - accuracy: 0.7849
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4487 - accuracy: 0.7842
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4485 - accuracy: 0.7839
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4483 - accuracy: 0.7833
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4484 - accuracy: 0.7837
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4476 - accuracy: 0.7839
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4473 - accuracy: 0.7836
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4473 - accuracy: 0.7836
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4473 - accuracy: 0.7831
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4471 - accuracy: 0.7844
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4468 - accuracy: 0.7832
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4464 - accuracy: 0.7828
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4460 - accuracy: 0.7844
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4462 - accuracy: 0.7844
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4462 - accuracy: 0.7829
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4460 - accuracy: 0.7843
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4458 - accuracy: 0.7839
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4455 - accuracy: 0.7842
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4440 - accuracy: 0.7837
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4433 - accuracy: 0.7842
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4426 - accuracy: 0.7841
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4428 - accuracy: 0.7843
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4420 - accuracy: 0.7848
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4423 - accuracy: 0.7839
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4420 - accuracy: 0.7839
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4420 - accuracy: 0.7843
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4421 - accuracy: 0.7857
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4421 - accuracy: 0.7839
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4419 - accuracy: 0.7830
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4419 - accuracy: 0.7849
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4418 - accuracy: 0.7854
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4419 - accuracy: 0.7853
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4416 - accuracy: 0.7850
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4418 - accuracy: 0.7850
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4416 - accuracy: 0.7839
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4416 - accuracy: 0.7847
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4416 - accuracy: 0.7846
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4413 - accuracy: 0.7848
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4410 - accuracy: 0.7853
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4409 - accuracy: 0.7848
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4404 - accuracy: 0.7852
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4402 - accuracy: 0.7843
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4402 - accuracy: 0.7844
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4399 - accuracy: 0.7855
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4398 - accuracy: 0.7852
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4396 - accuracy: 0.7851
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4396 - accuracy: 0.7846
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4396 - accuracy: 0.7842
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4397 - accuracy: 0.7846
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4396 - accuracy: 0.7852
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4396 - accuracy: 0.7850
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4394 - accuracy: 0.7852
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4391 - accuracy: 0.7850
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4398 - accuracy: 0.7845
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4393 - accuracy: 0.7841
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4394 - accuracy: 0.7853
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4390 - accuracy: 0.7841
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4388 - accuracy: 0.7846
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4390 - accuracy: 0.7847
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4389 - accuracy: 0.7848
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4386 - accuracy: 0.7850
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4390 - accuracy: 0.7843
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4386 - accuracy: 0.7838
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4389 - accuracy: 0.7851
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4383 - accuracy: 0.7843
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4386 - accuracy: 0.7847
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4386 - accuracy: 0.7849
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4383 - accuracy: 0.7844
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4384 - accuracy: 0.7851
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4384 - accuracy: 0.7841
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4383 - accuracy: 0.7838
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4383 - accuracy: 0.7853
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4382 - accuracy: 0.7854
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4384 - accuracy: 0.7853
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4381 - accuracy: 0.7844

In [23]:
# Evaluating the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4598 - accuracy: 0.7770 - 308ms/epoch - 1ms/step
Loss: 0.4597565531730652, Accuracy: 0.7770262360572815

In [24]:
# Exporting our model to HDF5 file
from google.colab import files

nn_model.save('/content/AlphabetSoupCharity_Optimization.h5')
files.download('/content/AlphabetSoupCharity_Optimization.h5')